/*post styles*/

body {
    background: rgb(155, 46, 46);
}

.post-container {
    margin-top: 80px; 
}

.post {
    border-radius: 10px;
    margin-bottom: 1em;
    background:  rgba(255, 255, 255, .6)
}

.btn-new-post {
    border-radius: 20px; 
}

input {
    border-radius: 2px; 
    width: 85%;
}

#newPostBody {
    height: 200px; 
}